<div class="d-flex justify-content-center align-items-start vh-100">
  <div class="container py-5" style="max-width: 600px; margin-top: 10%;">
    <h3 class="mb-4 text-center ">本当に退会しますか？</h3>
    <h5 class="mb-4 text-center">
      退会すると、会員登録情報や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。
    </h5>

    <div class="d-flex justify-content-center">
      <%= link_to "退会しない", edit_customer_information_path, class: "btn btn-primary w-25" %>
      <%= link_to "退会する", withdraw_customer_path, method: :patch, class: "btn btn-danger ml-3 w-25" %>
    </div>
  </div>
</div>
