<div class="container-fluid py-5">

  <h3 class="col-lg-2 offset-lg-2 mb-4">
    <span class="bg-light d-inline-block px-2">配送先編集</span>
  </h3>

  <!-- 配送先編集フォーム -->
  <%= render 'form', address: @address %>
</div>
