<div class='col-md-10 mx-auto'>
  <h2>ショッピングカート</h2>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <div class="row">
              <%= image_tag cart_item.get_item_image, size:'200x130' %>
              <p><%= cart_item.item.name %></p>
            </div>
          </td>
          <td><%= "¥#{cart_item.item.add_tax_price.to_s(:delimited)}" %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

