<aside class='col-md-3'>
  <div class="card mb-4">
  <div class="card-header text-center font-weight-bold">
      ジャンル検索
  </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center">ケーキ</li>
      <li class="list-group-item text-center">焼き菓子</li>
      <li class="list-group-item text-center">プリン</li>
      <li class="list-group-item text-center">キャンディ</li>
    </ul>
  </div>
</aside>